h1 {
    background-color: blue;
    color:white;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5em 0;
    margin: 0 0 1em 0;
    border: 10px solid white;
}

h2{
    color: white;
    background-color: blue;
    font: white;
    border: 5px solid white;
    margin: 0.25em 0 1em 0;
    font-weight:bold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 1em;
}
h3 {
    color: white;
    background-color: blue;
    font: bold white;
    border: 5px solid white;
    margin: 0.25em 0 1em 0;
    font-weight:bold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 1em;
}
.blue {
    background-color: white;
    color: black;
    font: black;
    font-weight: lighter;
    border: 2px solid blue;
    padding: 1em;
    margin: 0.25em 0 1em 0;
    border-radius: 10px;
}
img{
width: 98%;
height: 600px;
margin: 10px;
border: 5px solid white;
}
.red { 
    border: 2px solid blue;
    width: 100px;
    height: 80px;
    background-color: white;
}
.green {
    border: 2px solid blue;
    font-weight: lighter;
    padding: 1em;
    margin: 0.25em 0 1em 0;
    border-radius: 10px;
    background-color: white;
}
 body{
     background-color: burlywood;
 }